{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>GroupChat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'home/css/style_login.css' %}" />
</head>
<body class="bgc">
  
<div class="jumbotron text-center">
    <h1>You Have Been Logged Out!</h1>
    <p class="class=container text-muted">Login Again To Continue</p>
    <small class="text-muted">
        <a class="ml-2" href="{% url 'login' %}">Login Now</a>
    </small>
  
</div>
  
  

</body>
</html>
